[Unit]
Description=pi-relay-service
After=network.target

[Service]
Environment="PI_RELAY_SERVER_RESOURCE=http://pi.cooperkyle.com"
Environment="RPI_ID=00"
ExecStart=/home/pi/relay-switcher/main.py
Restart=always

[Install]
WantedBy=multi-user.target
